#grid-container {
  display: grid;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

.grid-container__square {
  display: block;
  border-top: 1px solid rgb(148, 153, 156);
  border-right: 1px solid rgb(148, 153, 156);;
  border-collapse: collapse;
}